@tailwind base;
@layer base {
  html {
    font-family: Akshar, Lara, "Open Sans" -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;
  }
}
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: underline;
}

:root {
  color-scheme: dark;
}
